<ion-header>
  <ion-toolbar>
    <ion-title>
      True or False
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="menu-container">
  <ion-grid>
    <ionRow class="menu-wrapper">
      <ion-col size="12">
        <ion-item>
          <ion-button size="large">Jouer</ion-button>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-button size="large">Classement</ion-button>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-button size="large">Proposer une question</ion-button>
        </ion-item>
      </ion-col>
    </ionRow>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-button
                  class="options-btn"
                  size="large" color="danger"
                  expand="full"
          [routerLink]="['/options']">
            Options
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
